@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
/* font-family: 'Roboto Mono', monospace; */


:root {
    --background-color: #212325;
    --main-icon-background-color: rgb(20 20 20);
  /* you can merge between them if you want , i prefer to use it*/
  --second-icon-background-color: #c49450;
  /* you can merge between them if you want  ** i prefer to not use it , perhaps the icon it self*/
  --white-color: #ffffff;
  --carousel-indicator-width: 100px;
  /* for icons , fonts and any small things */
}

/* common-screen-sizes-for-responsive-web-design*/
/* https://learn.microsoft.com/en-us/windows/apps/design/layout/screen-sizes-and-breakpoints-for-responsive-design */
/* https://www.altamira.ai/blog/common-screen-sizes-for-responsive-web-design/#:~:text=As%20for%20the%20desktop%20version,width%20is%20more%20than%201280.&text=The%20tablet%20screen%20resolution%20varies,800%20and%20768%C3%971024. */

body {
  background-color: var(--background-color);
  height: 100vh;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


h1,
h2,
h3,
h4,
h5,
a,
p,
span,
svg {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  color: white;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  /* line-height: normal !important; */

}

a {
  text-decoration: none;
}

/* container-fluid for full width container */
/* .container-fluid {
    border: 3px dashed red;
}


.my-row, .parent-row {
    border: 3px solid rgb(24, 197, 62);
}

.my-col, .parent-col {
    border: 3px dotted white;
} */

.cards-row{
    margin: 9px;
}

.card-col {
    margin-bottom: 20px;
}

.card-inner-cont {
    height: 100%;
}

.my-col {
    padding: 0px;
}

.carousel {
    height: 100%; 
    aspect-ratio: 4/3;
}

.carousel-inner {
    height: 100%;
    border-radius: 15px; 
}
.carousel-item {
    height: 100%;
}

.carousel-img {
    height: 100%; 
    width: 100%;
}

.card-price, .card-address, .card-reviews{
    text-align: start;
    color: var(--white-color);
}

.card-reviews {
    margin-left: 3px;
}

.card-rating {
    background-color: var(--second-icon-background-color);
    border-radius: 5px;
    width: 45px;
}

/* change carousel arrow color: https://stackoverflow.com/questions/46249541/change-arrow-colors-in-bootstraps-carousel */
/* .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23c49450' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23c49450' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
} */

.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 7px; 
    height: 7px; 
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
    border-radius: 100%; /* add border-radius */
}



/* modify col-md-2 and col-sm-5 class to make apartment cards bigger but still not take 12 columns */
/* 540px and 720px are the official sm and md sizes in the bootstrap docs */
/* https://stackoverflow.com/questions/28750907/how-to-customize-bootstrap-column-widthshttps://stackoverflow.com/questions/28750907/how-to-customize-bootstrap-column-widths */
/* https://www.geeksforgeeks.org/wildcard-selectors-and-in-css-for-classes/ */

@media (min-width: 960px) {
    [class*="col-lg-3-card"] {
        width: 23% !important;
    } 
}


@media (min-width: 720px) and (max-width: 960px) {
    [class*="col-md-4-card"] {
        width: 32% !important;
    } 
}

@media (min-width: 540px) and (max-width: 720px){
    [class*="col-sm-5-card"] {
        width: 47% !important;
    } 
}