/* @import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap"); */
/* font-family: 'Roboto Mono', monospace; */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
/* font-family: 'Roboto Mono', monospace; */
:root {
  --background-color: rgb(6 11 25);
  --main-icon--background-color: #212325; /* you can merge between them if you want , i prefer to use it*/
  --second-icon--background-color: #c49450; /* you can merge between them if you want  ** i prefer to not use it , perhaps the icon it self*/
  --white-color: #ffffff; /* for icons , fonts and any small things */
}

/* common-screen-sizes-for-responsive-web-design*/
/* https://learn.microsoft.com/en-us/windows/apps/design/layout/screen-sizes-and-breakpoints-for-responsive-design */
/* https://www.altamira.ai/blog/common-screen-sizes-for-responsive-web-design/#:~:text=As%20for%20the%20desktop%20version,width%20is%20more%20than%201280.&text=The%20tablet%20screen%20resolution%20varies,800%20and%20768%C3%971024. */

body {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  /* overflow: hidden; */
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,a,p,span,svg{
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    color: white;
    display: flex;
}
a{
    text-decoration: none;
}
/* .container {
  display: flex;
  flex-direction: column;
} */

nav {
  display: flex;
    width: 100%;
    border-bottom:solid 3px  black;
    /* height: auto; */
    background-color: rgb(0, 0, 0,0.7);
    
}
#navbar{
  position: absolute;
}

#logo {
    width: 50px;

}
#register-text{
  white-space:nowrap

}

.nav-text{
  font-size: 1rem;
}


nav > .nav-section{
    padding: 1rem  0.6rem ;
    display: flex; /* to add gap between logo and website name*/
    gap: 1rem;
    justify-content:space-around;
    align-items: center;
}
#logo-section{
    flex-basis: calc(100%/1.5);
    justify-content: space-between;
}
#feedback-section{
    flex-grow: 1;
}
#login-logout-section{
    flex-grow: 1;
}
#register-section{
    flex-grow: 1;
}

/* end nav */



#img-full-fill{
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.2)),url('../resources/hotel-images/main1.jpg');
  background-size:cover ;
  background-repeat: no-repeat;
  background-position: center;
  position: static;

  display: block;
}
.title-text-section{
  position: relative;
  width: 40%;
  height: 40%;
  background-color: rgba(0,0,0,0.5);
  border:rgba(0,0,0,0.8) solid 2px;
  top: 30%;
  left: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10%;
}
.title{

}

.info-text{
  width: 85%;
}



















/* end of main page view */



main > article{
  display: flex;
  height:  90vh;
  flex-direction: column;
  /* overflow: auto ; */
}

main > article .article-section{

  border:  2px solid red;
  flex-grow: 1;
}

/* main > article .article-section:nth-child(1){
  flex-grow:2;
} */

/* main > article .article-section{
  flex-grow: 2;
} */


.text-title{
  font-weight: 600
}
#text-animation{
  /* position: relative; */
}


#img-text-section{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#img-section{
  position: relative;
  width: 60%;
  height: 80%;
  border: #c49450 solid 2px;
  display: flex;
  justify-content: center;
}
#next-arrow{
  position: absolute;
  right:  2%;
  top: 50%;

}

#previous-arrow{
position: absolute;
  left: 2%;
  top: 50%;
}
.bi-arrow{

}

#text-section{
  display: flex;
  justify-content: center;
}


#text-animation{
  position: relative;
}
#text-animation::after{
content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color:var(--background-color);
  border-left: 3px solid rgb(109, 109, 240);
  animation: typing 3s steps(12) infinite;

}
#text-animation::before{
  content: attr(data-text);
}


@keyframes typing {
  40%, 60%{
    left:calc(100%); 
   }   
   100%{
    left:0%;
  }   
}



#img-section > img {
  width: 97%;
  height: 97%;
  display: block;
  margin: auto;
  padding: 0;
}












@media only screen and (max-width: 900px) {


}

@media only screen and (max-width: 541px) {
  .nav-text{
    font-size: 0.7rem;
  }
  #logo {
    width: 40px;

}
}
@media only screen and (max-width: 320px) {
  .nav-text{
    font-size: 0.6rem;
  }
  #logo {
    width: 36px;

}
}